
# CUDA Knobs

## Allow use of CUDA-accelerated sparse matrix operations
CudaBlockSparseMatrix::Enable=0
CudaBlockSparseMatrix::UseCudaRandomLibrary=1

## Allow use of CUDA-accelerated dense matrix operations
CublasMatrix::Enable=0

## Use blocking kernel launches
CudaSparseMatrixLibrary::UseBlockingKernelLaunches=0

# Classifer Knobs

## Slice out tiles of the input images to train on (rather than downsampling)
ClassifierEngine::SliceInputImagesToFitNetwork=0
ClassifierEngine::SliceOutCenterTileOnly=0

## How many layers to train simultaneously using an autoencoder
UnsupervisedLearnerEngine::LayersPerIteration=1

## How many layers to train simultaneously using supervised learning
LearnerEngine::LayersPerIteration=1

## Image Batch Size
InputDataProducer::ImageBatchSize=128
InputDataProducer::MaximumSamplesToRun=1024

# Optimizer Knobs

## Determine the algorithm for general differentiable optimization (LBFGSSolver, GDSolver, NAGSolver)
GeneralDifferentiableSolver::Type=NAGSolver

## LBFGS Solver Parameters
LBFGSSolver::MaxIterations=100

## Gradient Descent Solver Parameters
GradientDescentSolver::Iterations=100000
GradientDescentSolver::LearningRate=0.02

## NAG Solver Parameters
NesterovAcceleratedGradient::IterationsPerBatch=1
NesterovAcceleratedGradient::LearningRate=2.0e-5
NesterovAcceleratedGradient::Momentum=0.99
NesterovAcceleratedGradient::AnnealingRate=1.0001
NesterovAcceleratedGradient::MaxGradNorm=2000.0

## Determine the line search algorithm
LineSearch::Default=BacktrackingLineSearch

# Neural Network Knobs

## Randoms
NeuralNetwork::SeedWithTime=1

## Visualization
NeuronVisualizer::InputRange=0.01

### (Differentiable, Nondifferentiable, Analytical)
NeuronVisualizer::SolverClass=Differentiable
NeuronVisualizer::SolverType=LBFGSSolver

## Back prop
#BackPropagation::ForceType=DenseBackPropagation

## Set the parameters for sparse back prop
NeuralNetwork::Lambda=0.00000
NeuralNetwork::Sparsity=0.03
NeuralNetwork::SparsityWeight=3.0



