
# CUDA Knobs

## Allow use of CUDA-accelerated sparse matrix operations
CudaBlockSparseMatrix::Enable=1
CudaBlockSparseMatrix::UseCudaRandomLibrary=1

## Allow use of CUDA-accelerated dense matrix operations
CublasMatrix::Enable=0

## Use blocking kernel launches
CudaSparseMatrixLibrary::UseBlockingKernelLaunches=0

# Classifer Knobs

## Slice out tiles of the input images to train on (rather than downsampling)
ClassifierEngine::SliceInputImagesToFitNetwork=1

## Image Batch Size
ClassifierEngine::ImageBatchSize=50

# Optimizer Knobs

## Determine the algorithm for general differentiable optimization (LBFGSSolver, GradientDescentSolver)
GeneralDifferentiableSolver::Type=LBFGSSolver
#LBFGSSolver
#GradientDescentSolver


# Neural Network Knobs

## Randoms
NeuralNetwork::SeedWithTime=1

## Back prop
BackPropagation::Type=SparseBackPropagation

## Set the parameters for sparse back prop
NeuralNetwork::Lambda=30.0
NeuralNetwork::Sparsity=0.3
NeuralNetwork::SparsityWeight=0.7



